// E Riju Online School Scss Document
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap);
//wrapper
*{
//	padding: 0px;
//	margin: 0px;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	font-size: 10px; 
	@media (max-width: 576px){
		font-size: 9px;
	}
	@media (max-width: 319px){
		font-size: 8px;
	}
}
#er_wrap{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	header{
		display: block;
		padding: 25px 0px;
	}
	.navbar{
		flex-direction: row-reverse;
		justify-content: flex-end;
		.navbar-brand{
			font-family: 'Playfair Display', serif;
			font-size: 300%;
			font-weight: 400;
			color: #151515;
			line-height: 30px;
			letter-spacing: 0.031em;
			padding: 8px 16px;
			display: block;
			margin: auto;
			border: 1px solid #151515;
			white-space: normal;
			text-align: center;
		}
		.navbar-toggler{
			outline: none;
			&.collapsed{
				span.navbar-toggler-icon {
					svg.ope{
						display: block;
					}
					svg.cle{
						display: none;
					}
				}
			}
			span.navbar-toggler-icon {
				font-family: none;
				font-weight: normal;
				color: #778ba0;
				display: inline-block;
				width: auto;
				height: auto;
				svg{
    				transform: scale(0.75);
					&.ope{
						display: none;
					}
					&.cle{
						display: block;
					}
				}
			}
			&:hover, &:focus{
				span.navbar-toggler-icon {
					color: #151515;
				}
			}
			&:active{
				span.navbar-toggler-icon {
					color: #0A0A0A;
				}
			}
		}
		#er_navbar{
			padding: 0px 25px;
			.nav-item{
				.nav-link{
					font-family: 'Open Sans', arial, sans-serif;
					font-size: 184%;
					font-weight: 400;
					color: #151515;
				}
				&.active{
					.nav-link{
						font-weight: 700;
					}
				}
			}
		}
	}
	main{
		@media (min-width: 1367px){
			.container{
				max-width: 1160px;
			}
		}
		@media (max-width: 1366px){
			.container{
				max-width: 87%;
			}
		}
	}
	section{
		.row{
			+ .row{
				margin-top: 23px;
			}
		}
		h1, h2{
			font-family: 'Open Sans', arial, sans-serif;
			font-size: 160%;
			font-weight: 400;
			letter-spacing: 2px;
			margin-bottom: 24px;
			text-transform: uppercase;
		}
		p{
			font-family: 'Open Sans', arial, sans-serif;
			font-size: 160%;
			font-weight: 400;
			color: #575757;
			line-height: 24px;
			+ p{
				margin-top: 12px;
			}
		}
		.ls-2{
			letter-spacing: 2px;
		}
		.er_grey{
			background-color: #f1f4f7;
		}
		.er_bluegray{
			background-color: #c3cdd9;
		}
		.er_block1{
			font-family: 'Playfair Display', serif;
			text-align: center;
			padding: 40px;
			h1{
				font-size: 380%;
				font-weight: 400;
				color: #151515;
    			letter-spacing: 0.023em;
				line-height: 1.2;
				+ p{
					margin-top: 18px;
				}
			}
			h2, h3{
				font-family: 'Open Sans', arial, sans-serif;
				font-size: 220%;
				font-weight: 700;
				text-transform: capitalize;
			}
			a.btn{
				color: #151616;
				font-size: 87.5%;
				font-weight: 700;
				letter-spacing: 0.214em;
				background-color: #d2dbe5;
				padding: 8px 32px;
				border-radius: 0px;
				outline: none;
				&:hover, &:focus{
					background-color: #c3cdd9;
					box-shadow: none;
				}
				&:active{
					background-color: #AFBCCC;
					transition: none;
				}
			}
			img{
				width: 100%;
			}
			@media (max-width: 319px){
				padding: 2em;
			}
		}
	}
	footer{
		display: block;
		text-align: center;
		padding: 25px;
		h2{
			font-family: 'Open Sans', arial, sans-serif;
			font-size: 120%;
			font-weight: 700;
			letter-spacing: 0.083em;
			+ p{
				margin-top: 24px;
			}
		}
		p{
			font-family: 'Open Sans', arial, sans-serif;
			font-size: 120%;
			font-weight: 400;
			letter-spacing: 0.083em;
		}
	}
}


